.counter-section {
    background-color: #f1f5f8;
    border: none;
    padding: 10px 20px;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 40px;
}

.counter-section button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}

.counter-section input {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
}

.counter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #228B22;
    color: #fff;
}
